<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteBase" verbose="1" >
    <suite-files>
        <suite-file path="chapter_001/testng.xml" />
        <suite-file path="chapter_002/testng.xml" />
        <suite-file path="chapter_003/testng.xml" />
        <suite-file path="chess/testng.xml" />
    </suite-files>
</suite>
