<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Regression1">
        <classes>
            <class name="ru.job4j.array.ArrayCharTest"/>
            <class name="ru.job4j.array.ArrayDuplicateTest"/>
            <class name="ru.job4j.array.BubbleSortTest"/>
            <class name="ru.job4j.array.FindLoopTest"/>
            <class name="ru.job4j.array.MatrixTest"/>
            <class name="ru.job4j.array.SquareTest"/>
            <class name="ru.job4j.array.TurnTest"/>

            <class name="ru.job4j.calculator.CalculatorTest"/>
            <class name="ru.job4j.calculator.FitTest"/>

            <class name="ru.job4j.condition.DummyBotTest"/>
            <class name="ru.job4j.condition.PointTest"/>
            <class name="ru.job4j.condition.TriangleTest"/>

            <class name="ru.job4j.converter.ConverterTest"/>

            <class name="ru.job4j.loop.BoardTest"/>
            <class name="ru.job4j.loop.CounterTest"/>
            <class name="ru.job4j.loop.FactorialTest"/>
            <class name="ru.job4j.loop.PiramidTest"/>

            <class name="ru.job4j.max.MaxTest"/>

            <class name="ru.job4j.tictactoe.Logic3TTest"/>

            <class name="ru.job4j.CalculateTest"/>
        </classes>
    </test>
</suite>
