<web-app>

    <servlet>
        <servlet-name>TodoServlet</servlet-name>
        <servlet-class>todo.servlets.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TodoServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>

</web-app>