<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>example.servlets.ExampleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>usersapp.servlets.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>usersapp.servlets.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserCreateServlet</servlet-name>
        <servlet-class>usersapp.servlets.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserUpdateServlet</servlet-name>
        <servlet-class>usersapp.servlets.UserUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserUpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
</web-app>